{{> header status=status }}

<h2>{{selectedDomain}}</h2>

<ul>
    {{#results}}
        {{#if isNotTogether}}<br />{{/if}}
        <li>
            <a href="/mirrorjson/{{../selectedDomain}}/{{hash}}" title="{{hash}}">{{#if path}}{{path}}{{else}}{{hash}}{{/if}}</a>
            =>
            {{json}} ({{statusCode}})
        </li>

    {{/results}}
</ul>

<form method="POST" action="/mirrorjson/{{selectedDomain}}">
    <input type="submit" name="export" value="Export listed documents" />
</form>
<form method="GET" action="/mirrorjson/{{selectedDomain}}/import">
    <input type="submit" value="Import documents from json file" />
</form>
<br />
<form method="GET" action="/mirrorjson/{{selectedDomain}}/forwardheaders">
    <input type="submit" value="Select headers to forward to external API" />
</form>
<form method="GET" action="/mirrorjson/{{selectedDomain}}/returnheaders">
    <input type="submit" value="Select headers to return to frontend" />
</form>

<h2>Add a json string manually for specified path on '{{selectedDomain}}'</h2>
<form method="POST" action="/mirrorjson/{{selectedDomain}}">
    <p>Be aware: Existing data for the given path will be overwritten.</p>
    <label>Status code:</label>
    <input type="text" name="statuscode" value="200" maxlength="3" />
    <br />
    <label>Path:</label>
    <select name="method">
        <option value="GET">GET</option>
        <option value="POST">POST</option>
        <option value="PUT">PUT</option>
        <option value="OPTIONS">OPTIONS</option>
        <option value="PATCH">PATCH</option>
        <option value="DELETE">DELETE</option>
        <option value="HEAD">HEAD</option>
        <option value="TRACE">TRACE</option>
        <option value="CONNECT">CONNECT</option>
    </select>
    <input type="text" name="path" value="/" />
    <br />
    <label>Json:</label>
    <textarea name="jsondata" rows="10" cols="100"></textarea>
    <br />
    <input type="checkbox" name="setprotected" />
    <label>Set this json as protected (will not be overwritten by external API data)</label>
    <br />
    <input type="hidden" name="headers" value="{}" />
    <input type="submit" value="Save element" />
</form>

<h2>Add a domain alias</h2>
<form method="POST" action="/mirrorjson/{{selectedDomain}}">
    {{#aliases}}
        <input type="text" name="alias[]" value="{{localDomain}}" /><br />
    {{/aliases}}
    <input type="text" name="alias[]" value="" />
    <input type="submit" value="Save aliases" />
</form>

{{> footer }}
