{{> header status=status }}

<form method="POST" action="/mirrorjson/{{selectedDomain}}/{{#if isForwardHeaders }}forwardheaders{{ else }}returnheaders{{/if}}">
    <label>Select headers to {{#if isForwardHeaders }}forward to external API{{ else }}return to frontend{{/if}}:</label>
    <div>
        {{#each headers}}
            <input type="checkbox" name="{{@key}}"{{#if this}} checked="checked"{{/if}} />{{@key}}<br />
        {{/each}}
    </div>
    <input type="submit" value="Save selections" />
</form>
<form method="GET" action="/mirrorjson/{{selectedDomain}}">
    <input type="submit" value="Cancel" />
</form>

{{> footer }}
